/* Estilos base con imagen de fondo desde URL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://www.cupraofficial.es/content/dam/public/cupra-website/cars/tavascan/automatic-gallery/x-large/cupra-tavascan-blue-colour-21-inch-copper-black-covers-wheels.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 100vh;
    line-height: 1.6;
    text-transform: none;
  }
  

.main-image {
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff0055;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #d13c00;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
